.announcement {
	padding-top: 0;
	padding-bottom: 0;
}

.announcement__content {
	display: table;
	@extend .col-80;

	h1 {
		font-size: 2em;
		margin-bottom: .35em;
  
		@include breakpoint(tablet) {
			font-size: 2.5em;
		}
	}
}

.announcement__calltoaction {
	text-align: center;

	.button {
		background-color: transparent; 
		color: $c-white;  
		border-color: $c-white !important;

		@include breakpoint(tablet) {
			@include margin-leader(2);
		}

		@include breakpoint(desktop) {
			@include margin-leader(.65);
		}

		&:hover {
			background-color: $c-slate;
			border-color: $c-slate !important;
		}
	}
}