////////////////////////////////////////////////////////////////////////////

// CONTACT TABLE

////////////////////////////////////////////////////////////////////////////
.contacttable {
	@include margin-leader();

	.contacttable__row {
		@extend .clearfix;
		@include margin-trailer();
	}

	@include breakpoint(desktop) {
		.contacttable__row {
			@include margin-trailer(.5);
		}
		.contacttable__cell {
			float: left;
			width: 50%;

			&:first-of-type {
				text-align: right;
				padding-right: $gutter;
			}

			&:last-of-type {
				text-align: left;
			}
		}
	}
}