////////////////////////////////////////////////////////////////////////////

// CUSTOMER LIST

////////////////////////////////////////////////////////////////////////////
.customerlist {
	@extend .col-100;
	text-align: center;
	display: table;

	.customerlist__content {
		display: table-caption; 
		@include margin-trailer();
	}
	.customerlist__customers {
		display: table-row;
	}

	.customerlist__customer {
		padding: $gutter;
		&:last-of-type {
			padding-bottom: 0;
		}

		@include breakpoint(975px, max) {
			img {
				width: 100%;
			}
		}

		@include breakpoint(768px, max) {
			img {
				width: auto;
			}
		}
	}

	@include breakpoint(tablet) {

		.customerlist__customer {
			display: table-cell;
			vertical-align: middle;

			padding: 0 $gutter;
		}
	}
}