////////////////////////////////////////////////////////////////////////////

// HERO

////////////////////////////////////////////////////////////////////////////
.hero {
	height: 210px; // Match the height of the image + bottom border
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: 60px; // Clear the headerbar

	img {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		border-bottom: 10px solid $c-blue;
	}
}