////////////////////////////////////////////////////////////////////////////

// HEADING GROUP

////////////////////////////////////////////////////////////////////////////
.hgroup {
	h1 {
		// font-size: 2em;
		color: $c-blue;
	}

	h2 {
		text-transform: uppercase;
		color: $c-slate;
		font-weight: $fw-bold;
	}
}