////////////////////////////////////////////////////////////////////////////

// MODAL WINDOW

////////////////////////////////////////////////////////////////////////////
body.has-openmodal {
	overflow: hidden;
}
.modal {
	background: $c-white;
	background: rgba($c-black, 0.6);
	z-index: $z-menu + 1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow:hidden;
	display: none;

	// The content container
	.modal__content {
		@extend .row;
		background-color: $c-white;
		height: 100%;
		width: 100%;
		overflow-y: auto; // IMPORTANT!

		@include breakpoint(tablet) {	
			height: 80%;
			width: 85%;

			overflow-y: auto;
			margin-top: $gutter * 4;

			// Stylized box
			border-radius: 4px;
			@include single-box-shadow(0, 2px, 2px, 0, rgba($c-black, 0.1));
		}
	}

	// Sidebar
	.modal__sidebar {
		@extend .col-33;
		margin: 0;
		margin-right: 1.5em;

		@include breakpoint(tablet) {
			margin-right: 3em; // Same as the padding for modal__main
		}
	}

	// Main content
	.modal__main {
		padding: 1.5em;

		@include breakpoint(tablet) {
			padding: 3em;
		}
	}

	.modal__closebutton {
		cursor: pointer;
		position: fixed;
		top: $gutter;
		right: $gutter;
		padding: 5px;
		border: 2px solid $c-black;
		text-decoration: none;
		color: $c-black;
		@include single-transition(all, 0.5s, ease);

		@include breakpoint(tablet) {
			color: $c-white;
			border-color: $c-white;
			top: $gutter * 2;
			right: $gutter * 2;
		}

		&:hover {
			color: $c-ltblue;
			border-color: $c-ltblue;
		}

		// Add text before button to indicate that
		// the modal can be closed via ESC keypress
		&:after {
			content: "";
			position: fixed;
			top: $gutter * 1.15;
			right: $gutter * 3;
			color: $c-white;
			font-family: $f-primary;
			@include adjust-font-size-to($fs-xsmall);
			@include single-transition(all, 0.5s, ease);

			@include breakpoint(tablet) {
				top: $gutter * 2.125;
				right: $gutter * 4;
				content: "Press ESC or Click ";
			}
		}
	}
}