////////////////////////////////////////////////////////////////////////////

// QUOTES

////////////////////////////////////////////////////////////////////////////
.testimonial {
	@extend .col-80;
	margin-top: 0;
	margin-bottom: 0;

	.testimonial__content {
		@extend .col-100;
		position: relative;

		&:before {
			content: "\201C";
		}

		&:after {
			content: "\201D";
		}

		@include breakpoint(tablet) {
			&:before,
			&:after {
				content: ''; // Remove quote marks
				width: 53px;
				height: 38px;
				background-size: 52px;
				background-image: url('../img/common/icons/icon-quotes.png');
				background-repeat: no-repeat;
				position: absolute;
			}

			&:before {
				@include rotate(180deg);
				top: 3px;
				left: -73px;
			}

			&:after {
				bottom: -18px;
				right: -73px;
			}
		}

		&.testimonial__content--singlequote {
			@include breakpoint(tablet) {
				&:after {
					display: none;
				}
			}
		}
	}

	.testimonial__byline {
		@extend .col-100;
		line-height: 1.5;
		margin-top: 0;
	}

	.testimonial__photo {
		display: block;
		margin: 0 auto $gutter;
		@include set-image-as-circle();

		@include breakpoint(500px, min) {
			float: left;
			margin-right: $gutter;
		}
	}

	.testimonial__meta {
		@include translateY(10px);

		p {
			margin: 0;
		}
	}

	.testimonial__author-name {
		font-weight: 500;
		text-transform: uppercase;
	}
}