////////////////////////////////////////////////////////////////////////////

// VERTICAL RHYTHM
// http://compass-style.org/reference/compass/typography/vertical_rhythm/

////////////////////////////////////////////////////////////////////////////
$base-font-size: 16px;
$base-line-height: 28px;
@include establish-baseline;


////////////////////////////////////////////////////////////////////////////

// BASE STYLES

////////////////////////////////////////////////////////////////////////////

// SET THE PRIMARY FONT FOR THE SITE
//--------------------------------------------------------------------------
html {
	font-family: $f-primary;
	font-weight: $fw-normal;
	font-style: normal;
	color: $c-text;
}

p:not(:last-child) {
	margin-bottom: 1em;
}

small {
	font-size: $fs-xsmall;
}

// BOLD TEXT
//--------------------------------------------------------------------------
b,
strong {
	font-weight: $fw-black;
}

// ITALIC
//--------------------------------------------------------------------------
em,
i {
	font-style: italic;
}

// SUP & SUB
//--------------------------------------------------------------------------
sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

// FIGCAPTIONS
//--------------------------------------------------------------------------
figcaption {
	font-size: $fs-xsmall;
	line-height: 1.5;
	text-align: center;
}

address {
	margin-left: 4em;
	margin-bottom: 1em;
}

// LINKS
//--------------------------------------------------------------------------
a { 
	@extend %primary-link-colors;
	@include single-transition(color, 0.2s, ease);

	.layout-banded-primary &,
	.layout-banded-secondary & {
		color: $c-white;
	}
}

// HEADINGS
//--------------------------------------------------------------------------
h1 {
	@include set-type-as-h1();
}

h2 {
	@include set-type-as-h2();
}

h3 {
	@include set-type-as-h3();
}

h4 {
	@include set-type-as-h4();
}

h5 {
	@include set-type-as-h5();
}

h6 {
	@include set-type-as-h6();
}

// LISTS
//--------------------------------------------------------------------------
ul, ol {
	margin-left: 2em;
	@include margin-trailer();

	nav & {
		margin: 0;
	}
}

ul {
	list-style-type: disc;

	nav & {
		list-style-type: none;
	}

	li ul {
		list-style-type: square;

		nav & {
			list-style-type: none;
		}

		li ul {
			list-style-type: disc;

			nav & {
				list-style-type: none;
			}
		}
	}
}

ol {
	list-style-type: decimal;

	nav & {
		list-style-type: none;
	}

	li ol {
		list-style-type: lower-alpha;

		nav & {
			list-style-type: none;
		}

		li ol {
			list-style-type: decimal;

			nav & {
				list-style-type: none;
			}
		}
	}
}