////////////////////////////////////////////////////////////////////////////

// FOOTER

////////////////////////////////////////////////////////////////////////////
footer {
	text-transform: uppercase;
	color: $c-mdgrey;
	// border-top: 2px solid $c-borders-lt;
	@include adjust-font-size-to($fs-xsmall);

	.col-75 {
		text-align: right;
	}
}