////////////////////////////////////////////////////////////////////////////

// MICRO RESET
// Everything should be border-box

////////////////////////////////////////////////////////////////////////////
*, 
*:after, 
*:before { 
	@include box-sizing(border-box); 
}

body {
	background-color: $c-ltgrey;
}

////////////////////////////////////////////////////////////////////////////

// BANDED COLOR WRAPPERS

////////////////////////////////////////////////////////////////////////////

// FULL WIDTH BANDED SECTIONS
.banded {
	// default: white background
	background-color: $c-white;
	padding-top: $gutter;
	padding-bottom: $gutter;

	// REMOVE BOTTOM PADDING
	// Will override everything. 
	// Use only for banded items that absolutely need it.
	//----------------------------------------------------------------------
	&.banded--nowhitespace {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	// // No padding on the bottom
	// // For screenshots that sit directly on the bottom of the section
	&.banded--nobottomwhitespace {
		padding-bottom: 0 !important;
	}

	// No padding on the top
	&.banded--notopwhitespace {
		padding-top: 0 !important;
	}	

	// Colored versions
	// These are the only approved colors for banded sections
	// DO NOT band sections in any other colors.
	&.banded--blue {
		background-color: $c-blue;
		color: $c-white;

		em,
		.hgroup__subheading {
			color: $c-yellow;
		}

		a:not(.button) {
			@extend %links-over-primary;
		}
	}
	&.banded--orange {
		background-color: $c-orange;
		color: $c-white;

		em,
		.hgroup__subheading {
			color: $c-blue;
		}

		a:not(.button) {
			@extend %links-over-secondary;
		}
	}
	&.banded--slate {
		background-color: $c-slate;
		color: $c-white;

		h1, 
		h2, 
		h3, 
		h4, 
		h5, 
		h6,
		.hgroup__subheading {
			color: $c-white;
		}

		em {
			color: $c-yellow;
		}

		a:not(.button) {
			@extend %links-over-tertiary;
		}
	}
	&.banded--ltgrey {
		background-color: lighten($c-ltgrey, 5%);
	}
	&.banded--ltgrey-half {
		background-color: $c-ltgrey-half;
	}

	&.banded--mdgrey {
		background-color: $c-mdgrey;
	}

	// Nested banded sections
	.banded {
		@extend .clearfix;
	} 
}

////////////////////////////////////////////////////////////////////////////

// ROWS

////////////////////////////////////////////////////////////////////////////

.row {
	@extend .clearfix;
	margin: 0 auto;
	max-width: $media-desktop-max;

	&.banded {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

////////////////////////////////////////////////////////////////////////////

// COLUMNS

////////////////////////////////////////////////////////////////////////////

// GRID COLUMNS
//--------------------------------------------------------------------------
// Apply float and gutter to all columns
.col-25,
.col-33,
.col-50,
.col-66,
.col-75,
.col-80,
.col-100 {
	margin: $gutter;
	float: left;

	&.col--nowhitespace {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.banded {
		padding: $gutter; // Creates space on left/right of column
	}
}

// Fullwidth
.col-100 {
	width: calc(100% - #{$doublegutter});
}

// 80% width
.col-80 {
	// For those times when 100% is too wide for a single column
	@extend .col-100;
	@include breakpoint(tablet, min) {
		$col-80-gutter: calc(#{$gutter} + 10%);
		width: calc(80% - #{$doublegutter});
		margin-left: $col-80-gutter;
		margin-right: $col-80-gutter;
	}
}

// GRID LOOP IN INCREMENTS OF 25%
// Grid Output: .col-25, .col-50 and .col-75
@for $i from 1 through 3 {
	$num: $i * 25;
	$percent: $num * 1%;
	
	// Grid items
	.col-#{$num} {
		// Full width on mobile
		width: calc(100% - #{$doublegutter});
	
		// 50% width on tablet
		@include breakpoint(tablet) {
		width: calc(50% - #{$doublegutter});
		}
	
		// Actual width on desktop
		@include breakpoint(desktop) {
			width: calc(#{$percent} - #{$doublegutter});
		}
	}
}

// GRID LOOP IN INCREMENTS OF 33%
// Grid Output: .col-33 and .col-66
@for $i from 1 through 2 {
	$num: $i * 33;
	$percent: $num * 1.01%;
	
	// Grid item
	.col-#{$num} {
		// Full width on mobile
		width: calc(100% - #{$doublegutter});
		
		// 50% wide on tablet
		@include breakpoint(tablet) {
			width: calc(50% - #{$doublegutter});
		}

		// Tablet Only!
		@media screen and (min-width: 768px) and (max-width: 1023px) {
			&:nth-of-type(2n + 1) {
				clear: both;
			}

			&:nth-child(3):nth-last-child(1) {
				width: calc(100% - #{$doublegutter});
			}
		}
		
		// Actual width on desktop
		@include breakpoint(desktop) {
			width: calc(#{$percent} - #{$doublegutter});
		}
	}
}

////////////////////////////////////////////////////////////////////////////

// OTHER LAYOUT ELEMENTS

////////////////////////////////////////////////////////////////////////////

hr {
	// Default color is $c-blue but this can be overridden by 
	// adding the .background-COLOR class to the element
	background-color: $c-blue;
	margin: 0; 
	border: 0;
	height: 15px;

	&.hr--thin {
		height: 2px;
	}
}

////////////////////////////////////////////////////////////////////////////

// MAIN CONTENT CONTAINER

////////////////////////////////////////////////////////////////////////////
.content {
	margin-top: $gutter;

	img {
		display: block;
		margin-bottom: $gutter;
		max-width: 100% !important;
		height: auto !important;
	}
}


////////////////////////////////////////////////////////////////////////////

// EBOOK LAYOUT

////////////////////////////////////////////////////////////////////////////
.ebook body {
	background-color: $c-white;
}

.ebook .overlay {
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($c-black, 0.4);

	&.overlay--light {
		background-color: rgba($c-white, 0.6);
	}
}

.ebook .background-image img {
	width: 100%;
	display: block;
}

.ebook .ebook-form {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90vw;
	box-shadow: 0 0 10px rgba($c-black, 0.4);
	border-radius: $border-radius;
	padding: $gutter;

	@include breakpoint(tablet) {
		padding: $doublegutter;
		left: 10%;
		width: 80vw;
	}
}

////////////////////////////////////////////////////////////////////////////

// TOGGLES FULL WIDTH LAYOUT

////////////////////////////////////////////////////////////////////////////
.fullwidth {
	margin-top: $doublegutter;
}

////////////////////////////////////////////////////////////////////////////

// EXTRA CONTENT MODULES
// SHOWN ON LONG FORM AND THANK YOU PAGES

////////////////////////////////////////////////////////////////////////////
.extra-content {
	text-align: center;

	&.extra-content--longform {
		margin-top: $doublegutter;
	}

	img {
		display: block;
		margin: 0 auto;
		margin-bottom: $gutter;
	}

	h6 {
		color: $c-dkgrey;
		font-weight: $fw-bold;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
	}

	a {
		@include set-type-as-h6();
		position: relative; 
		text-transform: capitalize;
		text-decoration: none; 

		&:before {
			content: ' ';
			width: 12px;
			height: 12px;
			position: absolute;
			top: 1px; 
			left: -20px;
			text-decoration: none;
			background-image: url('http://storage.pardot.com/23402/79818/2016_pardot_lp_templates_link_indicator.svg');
			background-repeat: no-repeat;
			background-size: 12px;

			&:hover {

			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////

// FOOTER

////////////////////////////////////////////////////////////////////////////
footer {
	text-align: center;
	margin-bottom: $doublegutter;

	@include breakpoint(tablet) {
		img {
			float: left;
		}

		p {
			float: right;
			text-align: right;
		}
	}
}
