.error404 {
	// Hide the 404 guy
	.hero {
		position: relative;
		@include padding-leader(4);
		@include padding-trailer(2);
	}

	.fourohfourguy {
		display: none;	
	}
		
	@include breakpoint(tablet) {

		.hero {
			@include padding-leader(6);
			@include padding-trailer(4);
		}

		.fourohfourguy {
			display: block;
			position: absolute;
			bottom: 0;
			right: 20px;
		}
	}

	.sitemap {
		background-image: url('../img/common/404-background.png');
		text-shadow: 0 0 5px darken($c-orange, 20%);
		text-align: center;
		text-transform: uppercase;

		a {
			color: $c-white !important;
			text-decoration: none;
			padding: $gutter / 2;
			display: block;
		}

		@include breakpoint(830px, min) {
			a {
				display: inline;
				padding: 0 $gutter;
			}
		}
	}
}