.about {	
	.hero {
		background-image: url('../img/mobile/hero/hero-about.jpg');

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-about.jpg');
		}
	}

	// Navigation Item
	.navigation__about a {
		color: $c-blue !important;
		// text-transform: uppercase;
		font-weight: $fw-bold;
	}

	.image-banded--leadership {
		background-image: url('../img/mobile/about/about-story-founders.jpg');
		
		@include breakpoint(600px, max) {
			height: 180px;
		}

		@include breakpoint(tablet){
			background-image: url('../img/desktop/about/about-story-founders.jpg');
			height: 285px;
		}

		@include breakpoint(1000px, min) {
			height: 360px;
		}
	}

	.image-banded--team {
		background-image: url('../img/mobile/about/about-tune-team.jpg');
		
		@include breakpoint(tablet){
			background-image: url('../img/desktop/about/about-tune-team.jpg');
		}
	}

	// Inset content area
	.banded .banded {
		padding-top: 0;

		@include breakpoint(tablet) {
			@include padding-leader();
		}
	}
}