.agency-center {
	.hero {
		background-image: url('../img/mobile/hero/hero-agencycenter.jpg');

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-agencycenter.jpg');
		}
	}

	figure img {
		border: 1px solid lighten($c-mdgrey, 5%);
	}

	@include breakpoint(tablet) {
		blockquote .testimonial__byline .testimonial__author {
			clear: both;
		}
	}

	@include breakpoint(desktop) {
		blockquote .testimonial__byline .testimonial__author {
			clear: none;
		}
	}

	.testimonial .testimonial__content:before,
	.testimonial .testimonial__content:after {
		color: $c-yellow;
	}
}