.careers {
	.hero {
		background-image: url('../img/mobile/hero/hero-careers.jpg');
		background-position: center 0;

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-careers.jpg');
		}
	}

	// Navigation Item
	.navigation__careers a {
		color: $c-blue !important;
		font-weight: $fw-bold;
	}
}