.certified-partner-program {
	color: $c-slate;

	h3 {
		@include breakpoint(tablet) {
			min-height: 64px;
		}
	}

    // Navigation Item
    .navigation__certified-partner-program a {
        color: $c-blue !important;
        font-weight: $fw-bold;
    }

    .hero {
		background-image: url('../img/mobile/hero/hero-certified-partner-program.jpg');
		min-height: 300px; 
		background-position: center top;

		@include breakpoint(tablet){
			background-image: url('../img/desktop/hero/hero-certified-partner-program.jpg');
			min-height: 450px; 
			background-position: center;
		}
		@include breakpoint(1200px, min) {
			background-position: center top;
		}
	}

	.cpp-logo {
		width: 60%;
		margin-bottom: $doublegutter;

		@include breakpoint(desktop) {
			width: 40%;
		} 
	}

	.clearfix-tablet {
		@include breakpoint(tablet) {
			clear: both;
		}

		@include breakpoint(desktop) {
			clear: none;
		}
	}

	.fs-large {
		@include breakpoint(tablet) {
			font-size: $fs-large;
			font-weight: $fw-light;
			line-height: $fs-xlarge;
		}
	}

	.banded--tertiary em {
		color: $c-yellow;
	}

	label {
		display: block;
		color: $c-ltgrey;
	}

	input[type=text],
	input[type=email], 
	select {
		background-color: rgba($c-white, 0.2);
		color: $c-white;
		letter-spacing: 1px;
		border: 2px solid transparent;
		width: 100%;
		font-family: $f-primary;
		padding: 5px 10px;
		@include adjust-font-size-to($fs-small);

		&:focus {
			outline: 0;
			border: 2px solid $c-yellow;
		}
	}
	select {
		@include border-radius(0);
		padding: .3em .6em;
		-webkit-appearance: none;
	}

	input[type=submit] {
		@include margin-leader(.5);
	}

	.partner-cta p {
		font-size: 20px;
		font-weight: 300;
	}

	.blockquote {
		p {
			margin-top: $gutter;
			line-height: 1.35;
		}
		.blockquote__headshot {
			@include set-image-as-circle();
			float: left;
			margin-right: $gutter;
			max-height: 90px;
			max-width: 90px;
		}

		.blockquote__name {
			text-transform: uppercase;
			display: block;
			font-weight: $fw-bold;
			padding-top: 22px;
		}

		.blockquote__title {
			display: block;
			color: #3d5265;
		}

		.blockquote__logo {

			@media screen and (min-width: 530px) and (max-width: 767px) {
				float: right;
				transform: translateY(-54px);
			}

			@media screen and (min-width: 1024px) {
				float: right;
				transform: translateY(-54px);
			}
		}
	}

	.dots img {
		&.screenshot {
			display: none;
		}

		@include breakpoint(tablet) {
			display: block;
			margin: 0 auto;

			&.screenshot {
				display: block;
				margin-bottom: 35px;
			}
		}
	}
	.benefits h1,
	.qualify h1 {
		color: $c-blue;
		line-height: 1.2;
		font-weight: $fw-light;
		font-size: 3em;
	}

	.benefits h2{ 
		font-size: 2em;
		line-height: 1.2;
		font-weight: $fw-light;
		text-align: center; 
		text-transform: uppercase;

		&.hgroup__heading {
			color: $c-blue; 
		}
	}

	.benefits li, 
	.qualify p {
		color: $c-blue; 
		list-style-type: circle;
		font-size: 24px;
		line-height: 1.6;
		margin-bottom: .75em;

		span {
			color: $c-black;
		}
	}
	.qualify h1 {
		color: $c-blue; 
		text-align: left;
	}
	.qualify p {
		color: $c-black; 
	}

}