.cross-promo {
	.hero {
		background-image: url('../img/mobile/hero/hero-crosspromo.jpg');

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-crosspromo.jpg');
		}

		h1 {
			color: $c-blue; 
		}

		h2 {
			color: $c-white; 
		}

		h3 {
			em {
				color: $c-white; 
			}
		}
	}

	// Form
	label {
		display: block;
		color: $c-ltgrey;
	}

	input[type=text],
	input[type=email] {
		background-color: rgba($c-white, 0.2);
		color: $c-white;
		letter-spacing: 1px;
		border: 2px solid transparent;
		width: 100%;
		font-family: $f-primary;
		padding: 5px 10px;
		@include adjust-font-size-to($fs-small);

		&:focus {
			outline: 0;
			border: 2px solid $c-blue;
		}
	}

	input[type=submit] {
		@include margin-leader(.5);
		width: 100%;
	}

	// Report Screenshot
	.screenshot {
		img {
			vertical-align: bottom;
		}
		.col-100, 
		.col-66, 
		.col-33 {
			margin-bottom: 0;
		}
	}

	.screenshot h1,
	.screenshot li {
		color: $c-orange;
	}

	.screenshot h1 {
		font-size: 54px;
		line-height: 1.2;
		font-weight: $fw-light;
	}

	.screenshot p {
		font-size: 24px;
		line-height: 1.6;
	}

	// List items stying
	.screenshot {
		li {
			list-style-type: circle;
			font-size: 24px;
			line-height: 1;

			span {
				color: $c-black;
				font-size: 18px;
				line-height: 1.55;
			}
		}

		li {
			margin-bottom: .75em;
		}
	}

}