.events {
	.hero {
		background-image: url('../img/mobile/hero/hero-events.jpg?v=3');

		@include breakpoint(tablet){
			background-image: url('../img/desktop/hero/hero-events.jpg?v=3');
			background-position: center top;
		}
	}

	@include breakpoint(tablet) {
		.modal--events .modal__content {
			width: 50vw;
		}
	}

	// Navigation Item
	.navigation__events a {
		color: $c-blue !important;
		font-weight: $fw-bold;
	}



	.allevents .eventtile:nth-of-type(2n+1){
		clear: both;
	}


	// EVENT TILES
	//--------------------------------------------------------------------------
	.eventtile {
		position: relative;
		background-color: $c-white;
		margin: $gutter;
		float: left;

		@include breakpoint(tablet) {
			$col-80-gutter: calc(#{$gutter} + 10%);
			width: calc(80% - #{$doublegutter});
			margin-left: $col-80-gutter;
			margin-right: $col-80-gutter;
		}

		@include breakpoint(desktop) {
			width: calc(50% - #{$doublegutter});
			margin: $gutter;
		}

		&:last-of-type {
			margin-bottom: $doublegutter;
		}

		h1, h2, h3, h4, h5, h6 {
			color: $c-slate;
		} 
		p {
			color: $c-slate;
		}

		.eventtile__image {
			width: 100%;
			background-size: cover;
			background-position: center;

			&.eventtile__image--amsterdam {
				background-image: url('../img/common/events/event-amsterdam.jpg');
			}

			&.eventtile__image--bangalore-india {
				background-image: url('../img/common/events/event-bangalore-india.jpg');
			}

			&.eventtile__image--berlin-germany {
				background-image: url('../img/common/events/event-berlin-germany.jpg');
			}

			&.eventtile__image--cannes-france {
				background-image: url('../img/common/events/event-cannes-france.jpg');
			}

			&.eventtile__image--cologne-germany {
				background-image: url('../img/common/events/event-cologne-germany.jpg');
			}

			&.eventtile__image--london-england {
				background-image: url('../img/common/events/event-london-england.jpg');
			}

			&.eventtile__image--nyc {
				background-image: url('../img/common/events/event-nyc.jpg');
			}

			&.eventtile__image--san-francisco-ca {
				background-image: url('../img/common/events/event-san-francisco-ca.jpg');
			}

			&.eventtile__image--seattle-wa {
				background-image: url('../img/common/events/event-seattle-wa.jpg');
			}

			&.eventtile__image--seoul-south-korea {
				background-image: url('../img/common/events/event-seoul-south-korea.jpg');
			}

			&.eventtile__image--shanghai-china {
				background-image: url('../img/common/events/event-shanghai-china.jpg');
			}

			&.eventtile__image--st-petersburg-russia {
				background-image: url('../img/common/events/event-st-petersburg-russia.jpg');
			}
			
			&.eventtile__image--tel-aviv-israel {
				background-image: url('../img/common/events/event-tel-aviv-israel.jpg');
			}
		}

		.eventtile__title {
			@extend %vertical-align-parent;
			padding: 0 $doublegutter;
			background: rgba($c-black, 0.6);
			width: 100%;
			min-height: 100px;

			@include breakpoint(tablet) {
				min-height: 150px;
			}

			@include breakpoint(desktop) {
				min-height: 200px;
			}

			h2 {
				@extend %vertical-align;
				text-align: center;
				color: $c-white;
				text-shadow: 0 0 6px rgba($c-black, 0.5);

				span {
					display: block;
					font-size: .5em;
					font-weight: $fw-bold;
					text-transform: uppercase;
					color: $c-yellow;
				}
			}
		}

		.eventtile__meta {
			@include padding-leader(.25);
			@include padding-trailer(.25);
			background-color: $c-ltblue;
			color: $c-white;
			font-size: $fs-xsmall;

			span {
				float: right;
			}
		}

		.eventtile__description {
			line-height: 1.75;
			padding: $gutter*1.5 $doublegutter $gutter;

			@include breakpoint(desktop) {
				min-height: 218px;
			}
		}	

		.eventtile__link {
			padding: 0 $doublegutter $doublegutter; 

			.button {
				margin-top: $gutter / 2;
				display: block;
			}

			a:not(.button) {
				@extend %primary-link-colors;
			}

			@include breakpoint(tablet) {
				text-align: right;
				
				.button {
					float: left;
					margin-top: 0;
				}
			}
		}

		.eventtile__filters {
			@extend .clearfix;
			padding: $gutter/2 $doublegutter;
			background-color: $c-slate;

			table {
				width: 100%;
				font-size: $fs-xsmall;
				color: $c-white;
				text-transform: uppercase;

				tr {
					line-height: 1.35;

					&:nth-of-type(2n) {
						background: transparent;
						padding: 0;
					}
				}

				.filter-solutions {
					&:before {
						content: "With ";

						@include breakpoint(475px, max){
							content: "W/ ";
						}
					}
				}

				td {
					width: 50%;
					padding: 0;
					border: 0;
					color: $c-ltblue;
					vertical-align: top;

					&:nth-of-type(2n) {
						text-align: right;
					}

					p {
						font-weight: $fw-bold;
						color: $c-white;

						@include breakpoint(tablet) {
							font-size: $fs-medium;
						}
					}
				}
			}
		} // Filters

		.eventtile__booth {
			padding: 0 $doublegutter;
			background-color: $c-ltblue;
			font-size: $fs-xsmall;
			font-weight: $fw-bold;
			color: $c-dkblue;
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}

	// Event RSVP Form
	.formtile {
		width: calc(100% - #{$doublegutter});
		margin: 0 $gutter;

		@include breakpoint(tablet) {
			width: 50%;
			margin: 0 auto;
		}

		input[type=submit] {
			margin: $gutter auto;
			display: block;
		}
	}


// Featured Postback Tile
	.larger-postback-headline {
		font-size: 3em;
		font-weight: 800;
		text-transform: uppercase;
	}

// Error & Success notification
	.notification {
		position: absolute;
		top: 344px;
		left: calc(50% - 300px);
		width: 600px;
		padding: 30px;
		border-radius: $border-radius;
		color: $c-white;
		// border: 1px solid $c-white;
		transition: all 0.5s ease;
		background: lighten($c-dkblue, 10);

		&.notification--error {
			background-color: $c-red;
		}

		.notification__close {
			@include adjust-font-size-to($fs-large);
			color: rgba($c-white, .75);
			position: absolute;
			top: -7px;
			right: -1px;
			cursor: pointer;
			padding: 0 10px;
		}

		&.is-dismissed {
			top: -400px;
		}
	}
}