.home {	
	.hero {
		background-image: url('../img/desktop/hero/hero-home.jpg?v=3');
		text-align: center;
		color: $c-white;

		background-size: cover;
		background-position: center;
		background-attachment: scroll;

		@include padding-leader(6);
		@include padding-trailer(4);

		@include breakpoint(600px, min) {
			text-align: left;
		}

		@include breakpoint(tablet) {
			@include padding-leader(8);
			@include padding-trailer(6);
		}

		@include breakpoint(desktop) {
			@include padding-leader(10);
			@include padding-trailer(8);
		}

		@include breakpoint(1200px, min) {
			@include padding-leader(14);
			@include padding-trailer(12);
		}

		@include breakpoint(tablet) {
			background-position: center;
		}

		h1 {
			font-weight: $fw-bold;
			color: $c-blue;

			@include breakpoint(767px, max) {
				// margin-bottom: .5em;
			}
		}

		h2 {
			color: $c-dkblue;
		}

		// Offset the extra space the image 
		// adds to the top of this section
		.subhero {
			@include padding-trailer(2);
		}
	} // HERO

	// Navigation Item
	.navigation__home a {
		color: $c-blue !important;
		font-weight: $fw-bold;
	}

	// Logo strips
	// Hide 2 of them on mobile
	@include breakpoint(767px, max) {
		.trusted-by .row:not(:first-of-type) {
			display: none;
		}
	}

	.command-center h1,
	.command-center p,
	.actionable-data h1,
	.actionable-data p,
	.reporting h1,
	.reporting p,
	.setup-and-management h1,
	.setup-and-management p,
	.ecosystem h1, 
	.ecosystem p { 
		text-align: center; 
	}

	.data-you-own p {
		font-weight: $fw-light;
	}

	.data-you-own .button {
		display: block;
		max-width: 300px;
		margin: 0 auto;
	}

	@include breakpoint(tablet) {
		.data-you-own {
			h1 {
				font-size: 42px;
				margin-bottom: 50px;
				text-align: center;
				font-weight: $fw-light;
			}

			p {
				font-size: 20px;
				line-height: 2;
				text-align: center;
				padding: 0 $gutter * 3;
			}
		}

		// Repeatable sections text styles
		.command-center,
		.actionable-data,
		.reporting,
		.setup-and-management,
		.ecosystem {
			h1 {
				font-size: 54px;
				line-height: 1.2;
				font-weight: $fw-light;
			}

			p {
				font-size: 24px;
				line-height: 1.6;
			}
		}
	}

	.dashboard-screenshot {
		background-image: url('../img/mobile/screenshots/tmc-dashboard-laptop.png');
		padding-top: 45%;
		background-size: contain;
		background-position: center bottom;
		background-repeat: no-repeat;
		position: relative;
		margin-bottom: 0;

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/screenshots/tmc-dashboard-laptop.png');
		}
	}

	.actionable-data,
	.setup-and-management {
		background-color: lighten($c-ltgrey, 11);
	}

	.ecosystem a {
		display: block;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

	// Repeatable sections heading colors
	// List items colored circles
	.actionable-data h1,
	.actionable-data li {
		color: $c-ltblue;
	}

	.reporting h1,
	.reporting li {
		color: $c-green;
	}

	.setup-and-management h1,
	.setup-and-management li {
		color: $c-orange;
	}

	// List items stying
	.actionable-data,
	.reporting,
	.setup-and-management {
		li {
			list-style-type: circle;
			font-size: 24px;
			line-height: 1;

			span {
				color: $c-black;
				font-size: 18px;
				line-height: 1.55;
			}
		}

		li {
			margin-bottom: .75em;
		}
	}

	// Repeatable sections images
	.screenshot {
		position: relative;
	}
	.screenshot__image {
		padding: $gutter;
		border: 1px solid $c-borders-lt;
		border-radius: $border-radius;
		background-color: $c-white;

		&.screenshot__image--noborder {
			border: 0;
		}

		&.screenshot__image--overlay {
			position: absolute;
			top: 60px;
			right: -25px;
		}
	}

	.choose-tune {
		background-image: url('../img/mobile/hero/hero-home-2.jpg');
		background-size: cover;

		.no-touch & {
			background-attachment: fixed;
		}

		color: $c-white;

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-home-2.jpg');
			
			h1 {
				font-size: 60px;
				font-weight: $fw-light;
				text-align: center;
				@include padding-trailer();
			}
		}

		h4 {
			color: $c-yellow;
			text-transform: uppercase;
			text-align: left;
		}

		p {
			text-align: left;
		}
	}

	.blockquote {
		p {
			margin-top: $gutter;
			line-height: 1.35;
		}
		.blockquote__headshot {
			@include set-image-as-circle();
			float: left;
			margin-right: $gutter;
			max-height: 90px;
			max-width: 90px;
		}

		.blockquote__name {
			text-transform: uppercase;
			display: block;
			font-weight: $fw-bold;
			padding-top: 22px;
		}

		.blockquote__title {
			display: block;
			color: #3d5265;
		}

		.blockquote__logo {

			@media screen and (min-width: 530px) and (max-width: 767px) {
				float: right;
				transform: translateY(-54px);
			}

			@media screen and (min-width: 1024px) {
				float: right;
				transform: translateY(-54px);
			}
		}
	}

	.dots img {
		&.screenshot {
			display: none;
		}

		@include breakpoint(tablet) {
			display: block;
			margin: 0 auto;

			&.screenshot {
				display: block;
				margin-bottom: 35px;
			}
		}
	}

	// Animations
	@include keyframes(slider) {
		0% { 
			left: 0%; 
		}
		20% { 
			left: 0%; 
		}
		25% { 
			left: -100%; 
		}
		45% { 
			left: -100%; 
		}
		50% { 
			left: -200%; 
		}
		70% { 
			left: -200%; 
		}
		75% { 
			left: -300%; 
		}
		95% { 
			left: -300%; 
		}
		100% { 
			left: -400%; 
		}
	}

	.slider { 
		overflow: hidden;
		border: 1px solid $c-borders-lt;
		border-radius: $border-radius;
		max-width: 555px;
		background-color: $c-white;

		figure { 
			position: relative;
			width: 500%;
			margin: 0;
			left: 0;
			text-align: left;
			font-size: 0;
			@include animation(20s slider infinite);
		}

		figure img { 
			padding: 20px; 
			width: 20%; 
			float: left; 
		}
	}

	.form.subscribe {
		width: 50%;
		margin: 0 auto;

		@include breakpoint(768px, max) {
			width: 100%;
		}

		@include breakpoint(1024px, max) {
			width: 80%;
		}

		label {
			text-align: left;
			font-size: 0.85em;
		}

		input[type=email] {
			padding: 6px 5px;
		}

		td {
			border: 0;
			padding: 0;
			width: 100%;
			vertical-align: top;

			&:nth-child(2n) {
				padding-left: 10px;
			}
		}
	}
}