.legal {

	.col-80 p,
	.col-80 li,
	.col-80 address,
	.col-80 table {
		font-size: $fs-xsmall;
	}

	// Override the normal settings for the hero 
	// section in mobile, tablet and desktop view
	.hero {
		@include padding-leader(4.5);
		@include padding-trailer(2);
	}

	@include breakpoint(tablet) {
		.hero {
			@include padding-leader(4.5);
			@include padding-trailer(2);
		}
	}

	@include breakpoint(desktop) {
		.hero {
			@include padding-leader(4.5);
			@include padding-trailer(2);
		}
	}
}

.privacy h3 {
	margin-top: 30px;
}
.privacy ul {
	margin-bottom: 0;
}