.media-kit {
	.hero {
		background-image: url('../img/mobile/hero/hero-media.jpg');
		background-position: center 20px;

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-media.jpg');
		}
	}

	// Navigation Item
	.navigation__media-kit a {
		color: $c-blue !important;
		font-weight: $fw-bold;
	}

	.product {
		@include margin-trailer(3);

		&:last-of-type {
			margin-bottom: 0;
		}

		img {
			margin: 0 auto;
			display: block;
			@include margin-trailer();
		}
	}

	.kititem {
		@extend .clearfix;
		@include margin-leader(2);
		@include margin-trailer(2);

		@include breakpoint(tablet) {
			@include margin-leader();
			@include margin-trailer();

			.kititem__image {
				text-align: right;
			}
		}


		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 0;
		}

		h3 {
			color: $c-yellow;
			text-transform: uppercase;
		}

		.kititem__content {
			span {
				@include adjust-font-size-to($fs-xsmall);
				padding-left: 10px;
				text-transform: uppercase;

				@include breakpoint(tablet) {
					white-space: nowrap;
					display: block;
					padding-left: 0;
					margin-top: 5px;
				}

				@include breakpoint(desktop) {
					display: inline;
					padding-left: 10px;
					margin-top: 0;
				}
			}
		}
	}

	.profile {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		text-align: left;

		.profile__thumbnail {
			float: left;
			margin-right: $gutter;
			margin-bottom: 0;

			&:hover:before {
				content: 'Click to download image';
			}
		}
	}

	.smallcta {
		text-align: center;
		@include adjust-font-size-to($fs-large);

		img {
			@include translateY(6px);
			margin-right: 10px;
		}

		a {
			color: $c-white !important;
		}
	}
}