.postback {
	color: $c-dkblue;

	.hero {
		background-image: url('../img/mobile/hero/hero-postback.jpg?v=2');

		@include breakpoint(tablet){
			background-image: url('../img/desktop/hero/hero-postback.jpg?v=2');
		}

		h2 {
			font-size: 1.75em;
			font-weight: $fw-bold;
			// text-transform: uppercase;

			@include breakpoint(tablet) {
				font-size: 3em;
			}
		}
	}

	// Navigation Item
	.navigation__postback a {
		color: $c-blue !important;
		font-weight: $fw-bold;
	}

	// Fonts
	h1 {
		font-size: 2.5em;
		font-weight: $fw-black;
		text-transform: uppercase;
		margin-bottom: 0;

		@include breakpoint(tablet) {
			font-size: 3em;
		}

		@include breakpoint(desktop) {
			font-size: 4em;
		}
	}

	.attendees,
	.onstage {
		text-align: center;

		h2 {
			font-size: 0.95em;
			font-weight: $fw-black;
			text-transform: uppercase;

			@include breakpoint(tablet) {
				font-size: 1.15em;
			}

			@include breakpoint(desktop) {
				font-size: 1.5em;
			}
		}

		h3 {
			font-size: 1.5em;
			font-weight: $fw-black;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		h4 {
			font-size: 1.25em;
		}
	}

	.onstage img + h3 {
		margin-top: 15px;
		font-size: 1.5em;
	}

	.onstage svg path {
		fill: $c-dkblue;
	}

	.onstage a:not(.button) {
		color: $c-dkblue;

		&:hover {
			color: $c-dkblue;

			h3 {
				color: $c-ltblue;
			}

			svg path {
				fill: $c-ltblue;
			}
		}
	}

	.blog-recap h2 {
		color: $c-orange;
		text-transform: uppercase;
		font-size: 1.5em;

		@include breakpoint(desktop) {
		font-size: 2em;
		}
	}

	.tag-yourself {
		text-align: center;
		text-transform: uppercase;

		a:not(.button) h3 {
			color: $c-white;

			&:hover {
				color: $c-yellow;
				transition: color 0.2s ease;

				svg path {
					fill: $c-yellow;
					transition: fill 0.2s ease;
				}
			}
		}

		h3 {
			margin-top: 10px;
		}
	}

	.name-that-tune h3,
	.tagboard h3 {
		text-transform: uppercase;
		font-weight: $fw-light;

		&:first-of-type {
			margin-top: 0.5em;
		}
	}

	.name-that-tune ul {
		list-style-type: none;
		font-size: 1.125em;
		text-transform: uppercase;
	}

	@include breakpoint(768px, max) {
		.customerlist .customerlist__customer img {
			max-width: 50%;
		}
		.customerlist {
			margin-bottom: 0;
			margin-top: 0;
		}

		.hide-on-mobile {
			display: none;
		}

		.customerlist__customer.aol img,
		.customerlist__customer.adperio img {
			max-width: 40%;
		}

		.customerlist__customer.ea img,
		.customerlist__customer.lyft img,
		.customerlist__customer.supercell img {
			max-width: 30%;
		}

		.customerlist__customer.twitter img {
			max-width: 20%;
		}

		.playlist-a,
		.playlist-b {
			ul {
				margin-bottom: 0;
			}
		}

		.playlist-a {
			margin-bottom: 0;
		}
		.playlist-b {
			margin-top: 0;
		}
	}

	.thankyou-donors .customerlist__customers img {
		margin: $gutter 0;
	}
}