.rad {
	color: $c-slate;

	.hero {
		background-image: url('../img/mobile/hero/hero-rad.jpg?v=1.1');
		background-position: center 0;

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-rad.jpg?v=1.1');
		}

		@include breakpoint(1024px, max) {
			.col-33:nth-of-type(3n) {
				clear: both;
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.banded--tertiary em {
		color: $c-ltblue;

		&.text-red {
			color: $c-red; 
		}
	}

	label {
		display: block;
		color: $c-ltgrey;
	}

	input[type=text],
	input[type=email],
	select {
		background-color: rgba($c-white, 0.2);
		color: $c-white;
		letter-spacing: 1px;
		border: 2px solid transparent;
		width: 100%;
		font-family: $f-primary;
		padding: 5px 10px;
		@include adjust-font-size-to($fs-small);

		&:focus {
			outline: 0;
			border: 2px solid $c-ltblue;
		}
	}

	input[type=submit] {
		@include margin-leader(.5);
		width: 100%;
	}

	select {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border-radius: 0;
			background-image: url('../img/common/icons/icon-select-arrow-white.svg');
			background-size: 10px;
			background-position: calc(100% - 10px) center;
			background-repeat: no-repeat;
	}

	.testimonial__content:before,
	.testimonial__content:after {
		color: $c-ltblue;
	}
}