.team {
	.hero {
		background-image: url('../img/mobile/hero/hero-team.jpg');

		@include breakpoint(tablet) {
			background-image: url('../img/desktop/hero/hero-team.jpg');
		}
	}
	
	.profile--chris-devore {
		clear: both;

		@include breakpoint(desktop) {
			clear: none;
		}
	}

	// Navigation Item
	.navigation__team a {
		color: $c-blue !important;
		font-weight: $fw-bold;
	}
}



////////////////////////////////////////////////////////////////////////////

// MINI PROFILE

////////////////////////////////////////////////////////////////////////////
.profile__wrapper {
	margin-top: 0;
	margin-bottom: 0;
}

.profile {
	text-align: center;
	@include margin-leader();
	@include margin-trailer();
}

.profile__hgroup {
	@include margin-trailer();
}

.profile__name {
	margin-bottom: .25em;
	color: $c-blue;
}

.profile__companylogo {
	margin: 0 auto;
	max-width: 250px;
}

.profile__icon {
	position: absolute;
	bottom: 0;
	left: 0;
}

.profile__thumbnail {
	@extend %vertical-align-parent;
	position: relative;
	margin: 0px auto;
	background-image: url('/img/sprites/team.jpg?v=6');
	background-repeat: no-repeat;
	width: 145px !important;
	height: 145px !important;
	text-decoration: none;
	cursor: pointer;
	@include set-image-as-dial();
	@include margin-trailer();

	&:before {
		@extend %vertical-align;
		content: '';
		color: $c-white;
		text-transform: uppercase;
		text-align: center;
	}

	// Positions of the thumbnail image
	// Row 1
	&.peter-hamilton {
		background-position: 0 0;
	}
	&.lucas-brown {
		background-position: -151px 0;
	}
	&.lee-brown {
		background-position: -301px 0;
	}
	&.cameron-stewart {
		background-position: -451px 0;
	}
	// Row 2
	&.ralf-hirt {
		background-position: 0 -151px;
	}
	&.micah-gantman {
		background-position: -151px -151px;
	}
	&.crystal-dicarlo {
		background-position: -301px -151px;
	}
	&.niek-sanders {
		background-position: -451px -151px;
	}
	// Row 3
	&.brent-roraback {
		background-position: 0 -301px;
	}
	&.danan-margason {
		background-position: -151px -301px;
	}
	&.chris-henry {
		background-position: -301px -301px;
	}
	&.steve-burgess {
		background-position: -451px -301px;
	}
	// Row 4
	&.saira-nayak {
		background-position: 0 -451px;
	}
	&.jennifer-wong {
		background-position: -151px -451px;
	}
	&.aryeh-altshul {
		background-position: -301px -451px;
	}
	&.bryan-kim {
		background-position: -451px -451px;
	}
	// Row 5
	&.patrick-hearron {
		background-position: 0 -601px;
	}
	&.casey-ryan {
		background-position: -151px -601px;
	}
	&.raymund-bautista {
		background-position: -301px -601px;
	}
	&.david-schacht {
		background-position: -451px -601px;
	}
	// Row 6
	&.steve-mcquade {
		background-position: 0 -751px;
	}
	&.chris-devore {
		background-position: -151px -751px;
	}
	&.rich-wong {
		background-position: -301px -751px;
	}
	&.robert-glaser {
		background-position: -451px -751px;
	}
	// Row 7
	&.ian-sefferman {
		background-position: 0 -901px;
	}
	&.jonah-kai-hancock {
		background-position: -151px -901px;
	}
	&.jeb-miller {
		background-position: -301px -901px;
	}

	// Hover 
	&:hover {
		background-image: none;
		background-color: $c-blue;

		&:before {
			content: 'Read Bio';
		}
	} // hover
}


////////////////////////////////////////////////////////////////////////////

// FULL PROFILE (INSIDE THE MODAL)

////////////////////////////////////////////////////////////////////////////
.fullprofile__name {
	color: $c-blue;
	margin-bottom: 0;
}

.modal__main.fullprofile__details { 
	@include breakpoint(768px, max) {
		padding-right: 3.5em;
	}

	.profile__companylogo {
		float: right;
		padding: 10px;
	}
	.profile__companylogo img {
		max-width: 200px;
		margin: 0;
	}
}

.modal__sidebar.fullprofile__photo {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	height: 400px;
	margin-right: 0;
	width: 100%;
	display: none; // Don't show on mobile
	margin-bottom: 1.5em; // Same as padding for .modal__main

	// Background images
	&.fullprofile__photo--peter-hamilton {
		background-image: url('../img/desktop/team/peter-hamilton.jpg?v=2');
	}
	&.fullprofile__photo--lucas-brown {
		background-image: url('../img/desktop/team/lucas-brown.jpg?v=2');
	}
	&.fullprofile__photo--lee-brown {
		background-image: url('../img/desktop/team/lee-brown.jpg?v=2');
	}
	&.fullprofile__photo--cameron-stewart {
		background-image: url('../img/desktop/team/cameron-stewart.jpg?v=2');
	}
	&.fullprofile__photo--ralf-hirt {
		background-image: url('../img/desktop/team/ralf-hirt.jpg?v=2');
	}
	&.fullprofile__photo--saira-nayak {
		background-image: url('../img/desktop/team/saira-nayak.jpg?v=2');
	}
	&.fullprofile__photo--micah-gantman {
		background-image: url('../img/desktop/team/micah-gantman.jpg?v=2');
	}
	&.fullprofile__photo--crystal-dicarlo {
		background-image: url('../img/desktop/team/crystal-dicarlo.jpg?v=2');
	}
	&.fullprofile__photo--niek-sanders {
		background-image: url('../img/desktop/team/niek-sanders.jpg?v=2');
	}
	&.fullprofile__photo--brent-roraback {
		background-image: url('../img/desktop/team/brent-roraback.jpg?v=2');
	}
	&.fullprofile__photo--danan-margason {
		background-image: url('../img/desktop/team/danan-margason.jpg?v=2');
	}
	&.fullprofile__photo--chris-henry {
		background-image: url('../img/desktop/team/chris-henry.jpg?v=2');
	}
	&.fullprofile__photo--steve-burgess {
		background-image: url('../img/desktop/team/steve-burgess.jpg?v=2');
	}
	&.fullprofile__photo--jennifer-wong {
		background-image: url('../img/desktop/team/jennifer-wong.jpg?v=2');
	}
	&.fullprofile__photo--aryeh-altshul {
		background-image: url('../img/desktop/team/aryeh-altshul.jpg?v=2');
	}
	&.fullprofile__photo--bryan-kim {
		background-image: url('../img/desktop/team/bryan-kim.jpg?v=2');
	}
	&.fullprofile__photo--patrick-hearron {
		background-image: url('../img/desktop/team/patrick-hearron.jpg?v=2');
	}
	&.fullprofile__photo--casey-ryan {
		background-image: url('../img/desktop/team/casey-ryan.jpg?v=2');
	}
	&.fullprofile__photo--raymund-bautista {
		background-image: url('../img/desktop/team/raymund-bautista.jpg?v=2');
	}
	&.fullprofile__photo--david-schacht {
		background-image: url('../img/desktop/team/david-schacht.jpg?v=2');
	}
	&.fullprofile__photo--ian-sefferman {
		background-image: url('../img/desktop/team/ian-sefferman.jpg?v=2');
	}
	&.fullprofile__photo--jonah-kai-hancock {
		background-image: url('../img/desktop/team/jonah-kai-hancock.jpg?v=2');
	}
	&.fullprofile__photo--robert-glaser {
		background-image: url('../img/desktop/team/robert-glaser.jpg?v=2');
	}
	&.fullprofile__photo--rich-wong {
		background-image: url('../img/desktop/team/rich-wong.jpg?v=2');
	}
	&.fullprofile__photo--chris-devore {
		background-image: url('../img/desktop/team/chris-devore.jpg?v=2');
	}
	&.fullprofile__photo--jeb-miller {
		background-image: url('../img/desktop/team/jeb-miller.jpg?v=2');
	}
	&.fullprofile__photo--steve-mcquade {
		background-image: url('../img/desktop/team/steve-mcquade.jpg?v=2');
	}

	@include breakpoint(tablet) {
		height: 800px;
		margin-right: 3em;
		width: 50%;
		margin-bottom: 0;
		display: block;
	}

	@include breakpoint(desktop) {
		width: 33%;
	}
}
